# VS Code folders
.vscode/*
*/.vscode/*

# Firebase Credentials
/PSICO-Buerger-Software/res/firebaseCertificate.json

# Module Caches
/PSICO-Buerger-Software/modules/mouselogger/mouse/__pycache__/
/PSICO-Buerger-Software/modules/keylogger/keyboard/__pycache__/
/PSICO-Buerger-Software/modules/keylogger/__pycache__
/PSICO-Buerger-Software/modules/mouselogger/__pycache__
/PSICO-Buerger-Software/modules/micro/storage/
/PSICO-Buerger-Software/modules/micro/__pycache__
/PSICO-Buerger-Software/modules/camera/storage
/PSICO-Buerger-Software/modules/camera/__pycache__
/PSICO-Buerger-Software/modules/task/__pycache__
/PSICO-Buerger-Software/modules/music/__pycache__
/PSICO-Buerger-Software/modules/popup/__pycache__
/PSICO-Buerger-Software/modules/sccontroller/__pycache__
/PSICO-Buerger-Software/modules/__pycache__
/PSICO-Buerger-Software/__pycache__

/PSICO-Buerger-Software/dataClasses/__pycache__
/PSICO-Admin-Software/res/firebase-certificate.json
/PSICO-Admin-Software/res/firebaseCertificate.json
/PSICO-Admin-Software/res/firebase-certificate.json
/PSICO-Buerger-Software/dataClasses/__pycache__/
/PSICO-Admin-Software/res/firebase-certificate.json
/PSICO-Admin-Software/__pycache__