# VS Code folders
.vscode/*
*/.vscode/*
/PSICO-Buerger-Software/res/firebaseCertificate.json
/PSICO-Buerger-Software/modules/mouselogger/mouse/__pycache__/
/PSICO-Buerger-Software/modules/keylogger/keyboard/__pycache__/
/PSICO-Buerger-Software/modules/keylogger/__pycache__
/PSICO-Buerger-Software/modules/mouselogger/__pycache__
/PSICO-Buerger-Software/modules/micro/storage/
/PSICO-Buerger-Software/modules/micro/__pycache__
/PSICO-Buerger-Software/modules/__pycache__
/PSICO-Buerger-Software/__pycache__
/PSICO-Buerger-Software/dataClasses/__pycache__
/PSICO-Buerger-Software/modules/camera/storage
/PSICO-Buerger-Software/modules/camera/__pycache__

/PSICO-Admin-Software/res/firebase-certificate.json